@media (max-width: 860px) {

/* botões */

.btn__whatsapp
{ right: 5px; bottom: 20px; }

.retorno_ao_topo 
{ right: 10px; bottom: 150px; }

/* Wrapper */

    

    /* Navegacao */

    .navegacao__conteudo {
        height: 50px;
    }

    .conteudo__lista {
        display: none;
    }

    .checkbox {
        font-size: 30px;
    }

    .menu-bars, .menu-times {
        display: block;
        cursor: pointer;
        font-size: 30px;
    }

    .responsive-menu{display: block; top: 13rem; height: 130vh; font-weight:bold; font-size:0.8em; width:100%; background: #fff;  position:absolute; text-align:center; font-size:12px;}
    .responsive-menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
    .responsive-menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
    .responsive-menu li:hover{display: block; background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
    .responsive-menu ul li a { text-decoration:none;  margin: 0px; color: var(--titulo-principal-color)}
    .responsive-menu ul li a:hover { text-decoration:none;}

    .responsive-menu__redes-sociais {
        text-align: center;
        margin-top: 40px;
    }

    .facebook, .instagram, .linkedin {
        color: var(--titulo-principal-color);
        font-size: 30px;
    }

    .responsive-menu__ancora {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 25px;
        margin-top: 5px;
    }

    .ancora-link {
        color: var(--titulo-principal-color);
        margin-top: 20px;
    }

    .menu-display-none {
        display: none;
    }

    /* Conteudo sobre */
    .conteudo__sobre {
        height: 95rem;
    }

    .conteudo__destaque {
        width: 100%;
    }

    .destaque__img {
        width: 100%;
    }

    .titulo__default {
        width: 60%;
    }

    /* Conteudo atendimento */
    .conteudo__atendimento {
        height: 190rem;
    }

    .conteudo__atendimento-container {
        background-position: right;
    }

    .atendimento__cards {
        display: flex;
        margin-bottom: 20px;
        flex-direction: column;
    }

    .atendimento__card-default {
        margin-top: 20px;
    }

    /* Conteudo consultorio */

    .conteudo__consultorio {
        height: 143rem;
    }

    .consultorio__apresentacao {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 26rem;
    }

    .consultorio__video {
        margin-top: 20px;
    }

    /* Conteudo lead */

    .conteudo__lead {
        height: 15rem;
    }

    /* Conteúdo localização */

    .conteudo__localizacao {
        height: 71.5rem;
    }

    .localizacao__mapa {
        margin-top: 20rem;
    }

    /* Conteudo rodapé */

    .rodape {
        height: 30rem;
    }

    .rodape__logo {
        height: 18rem;
        width: 100%;
    }

    .logo {
        padding-bottom: 20px;
    }

    .rodape__redes {
        display: flex;
    }

    .rodape__info-profissional {
        width: 100%;
        height: 5rem;
        display: flex;
        font-size: 0.9rem;
    }

    .rodape__info-pro-ancora, .rodape__info-pro-paragrafo {
        color: var(--titulo-principal-color);
    }

    .info__email {
        line-height: 0.3;
    }

    .rodape__info-dfg {
        height: 7rem;
        border-top: 1px solid var(--titulo-principal-color);
        line-height: 0.8;
        background: var(--cinza);
    }

    .rodape__info-paragrafo {
        padding-top: 1rem;
        font-size: 0.9rem;
    }

    .rodape__info-ancora {
        font-size: 0.8rem;
        text-decoration: none;
    }

    .rodape__info-ancora, .rodape__info-paragrafo {
        margin-left: 1rem;
        color: var(--titulo-principal-color);
    }
}

