.btn-sobre {
    padding: 15px 10px;
    background-color: var(--titulo-principal-color);
    color: var(--branco);
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn-lead {
    padding: 15px 10px;
    border-radius: 30px;
    border: none;
    color: var(--titulo-principal-color);
    font-weight: bold;
    cursor: pointer;
    margin: 0 auto;
}

.btn-lead:hover {
    background: var(--titulo-principal-color);
    border:  1px solid var(--branco);
    color: var(--branco);
}

.btn__whatsapp
{ position: fixed; bottom: 80px; right: 70px; z-index: 9999;
    width: 72px; height: 72px; text-align: center; 
    line-height: 40px; background: var(--titulo-principal-color); color: #ffffff;
    cursor: pointer; border: 0; border-radius: 50%;
    box-shadow: 2px 2px 5px #999;
    text-decoration: none; transition: opacity 0.2s ease-out;
	font-size: 30px; 
}

.retorno_ao_topo 
	{ position: fixed; color: white; height: 50px; background: var(--titulo-principal-color);
	width: 50px; text-align: center; font-size: 30px; border-radius: 3px; bottom: 300px;
	right: 80px; z-index: 9999; }