.atendimento__cards {
    display: flex;
    justify-content: space-between;
}

.atendimento__card-default {
    background: var(--branco);
    margin-left: 15px;
    height: 500px;
    width: 280px;
}

.atendimento__card_img {
    height: 70%;
    width: 100%;
}