.atendimento__cards {
    display: flex;
    margin-bottom: 3rem;
    margin-right: 1rem;
}

.atendimento__card-default {
    background: var(--branco);
    height: 700px;
    width: 320px;
    margin-left: 1rem;
}

.atendimento__card_img {
    height: 70%;
    width: 100%;
}

.paragrafo__cards {
    text-align: center;
    width: 95%;
}