.descricao__paragrafo {
    margin: 30px auto;
    line-height: 1.6;
    font-size: 20px;
    font-family: var(--conteudo--sobre-fonte);
    width: 50%;
}

.paragrafo__localizacao {
    margin-top: 50px;
}

.paragrafo__atendimento {
   margin: 40px 10px;
}