
/* Titulo */
.titulo__default {
    margin: 30px auto;
    font-size: var(--conteudo-titulo-size);
    color: var(--titulo-principal-color);
    border-bottom: 1px solid var(--titulo-principal-color);
    height: 100%;
    width: 20%;
    text-align: center;
}

.titulo__atendimento {
    color: var(--branco);
    text-align: center;
    border: none;
    height: 10%;
}