
@import url('../componentes/_paragrafos.css');
@import url('../componentes/_botoes.css');
@import url('../secoes/_carousel.css');
@import url('../componentes/_titulos.css');
@import url('../componentes/_cards.css');

/* Conteudo destaque */

.conteudo__destaque {
    text-align: center;
}

/* Conteudo Menu */

.conteudo__sobre {
    text-align: center;
    padding: 20px 0px;
    margin-bottom: 100px;
}

.sobre__container {
    margin: 20px;
}

.sobre__descricao {
    height: 15rem;
    width: 100%;
    display: block;
}

/* Conteúdo atendimento */

.conteudo__atendimento {
    width: 100%;
}

.conteudo__atendimento-container {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)100%), url('../../img/img_atendimento_02.jpg')no-repeat center/cover;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.atendimento__cards {
    display: flex;
    margin-bottom: 70px;
}

/* Conteúdo consultório */

.conteudo__consultorio {
    margin-top: 20px;
    text-align: center;
}

/* Conteúdo Lead */

.conteudo__lead {
    background: var(--titulo-principal-color);
    margin: 0px auto;
    text-align: center;
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.lead__descricao {
    width: 100%;
}

/* Conteúdo localização */

.consultorio__video, .consultorio__img {
    height: 500px;
    width: 310px;
    margin-right: 10px;
}

.consultorio__img {
    width: 300px;
}

.consultorio__apresentacao {
    display: flex;
    justify-content: center;
}

.localizacao__mapa {
    width: 100%;
}

.mapa {
    width: 100%;
}






