
@import url('../componentes/_paragrafos.css');
@import url('../componentes/_botoes.css');
@import url('../secoes/_carousel.css');
@import url('../componentes/_titulos.css');
@import url('../componentes/_cards.css');


/* Conteudo destaque */

.conteudo__destaque {
    height: 35rem;
}

.destaque__container {
    text-align: center;
    height: 30rem;
    background: linear-gradient(0.25turn, var(--lilaz), var(--azul));
}

.destaque__img {
    border-radius: 1rem;
    border: 5px solid var(--branco);
    background: var(--branco);
    margin-top: 4rem;
    height: 22rem;
    width: 32rem;
}

/* Conteúdo sobre */

.conteudo__sobre {
    height: 100rem;
    margin-bottom: 7rem;
    background: url(../../img/Abract01.png)no-repeat right;
}

.sobre__descricao {
    margin: 0 auto;
    height: 98%;
    width: 60%;
    display: block;
    box-shadow: 5px 5px 5px var(--cinza);
}

.sobre__sticker-01 {
    position: relative;
    border-radius: 2rem;
    left: 12rem;
}

.sobre__sticker-02 {
    position: relative;
    border-radius: 2rem;
    bottom: 15rem;
    left: 50rem;
}

/* Conteúdo atendimento */

.conteudo__atendimento {
    height: 50rem;
    width: 100%;
}

.titulo__atendimento {
    margin-top: 4rem;
    font-family: var(--titulo-default);
}

.conteudo__atendimento-container {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)100%), url('../../img/img_atendimento_02.jpg')no-repeat center/cover;
    height: 99%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Terapia */

.terapia {
    height: 43rem;
    border-bottom: 1px solid var(--amarelo-dark);
}

.terapia__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.terapia__img-container-00, 
.terapia__img-container-01,
.terapia__img-container-02 {
    height: 15rem;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.terapia__img-container-00 {
    margin-top: 5rem;
    margin-left: 4rem;
}

.terapia__img-container-02 {
    margin-top: 5rem;
    margin-left: 12rem;
}

.terapia__container-last_child {
    display: flex;
    justify-content: center;
}

.terapia__img {
    height: 10rem;
}

.terapia__descricao-00 {
    width: 70%;
}

.terapia__descricao-01 {
    width: 80%;
}

/* Conteúdo consultório */

.conteudo__consultorio {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../../img/Abract02.png)no-repeat left;
}

.titulo__consultorio {
    height: 1rem;
    text-align: center;
    margin: 3rem auto;
}

.sobre__consultorio {
    height: 20rem;
    margin-bottom: 3rem;
}

.paragrafo__localizacao {
    padding-bottom: 2rem;
}

.consultorio__apresentacao {
    margin-bottom: 2rem;
    height: 35rem;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 1rem;
    width: 90%;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
}

.consultorio__video-container {
    height: 100%;
    width: 100%;
    margin-left: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.consultorio__video {
    height: 100%;
    width: 30rem;
}

.video__container, .consultorio__img {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    border: 1px solid rgba(0,0,0,0.4);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
}


/* Conteúdo Lead */

.conteudo__lead {
    background: linear-gradient(0.25turn, var(--lilaz), var(--azul));
    margin: 0px auto;
    text-align: center;
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.lead__01 {
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__first-child {
    margin-top: 1rem;
}

.lead__descricao {
    width: 100%;
    margin-bottom: 2rem;
}

/* Conteúdo localização */

.consultorio__video, .consultorio__img {
    height: 500px;
    width: 310px;
    margin-right: 10px;
}

.sobre__localizacao {
    height: 15rem;
    margin-bottom: 2rem;
}

.consultorio__img {
    width: 300px;
}

.consultorio__apresentacao {
    display: flex;
    justify-content: center;
}

.localizacao__mapa {
    width: 100%;
}

.mapa {
    width: 100%;
}






