@import url('../componentes/_redes-sociais.css');
@import url('./_lista-template.css');

/* Navegação logo */
.navegacao__logo {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 10px 0;
}

.logo__container {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
}

.logo {
    font-family: var(--titulo-principal);
    color: var(--titulo-principal-color);
    text-align: center;
}

.logo__h1 {
    border-bottom: 1px solid var(--titulo-principal-color);
    font-size: var(--titulo-principal-size);
}

.logo__h3 {
    font-size: var(--titulo-principal-size);;
}

/* Navegação conteúdo */

.navegacao__conteudo {
    display: flex;
    background: var(--titulo-principal-color);
}


    /* Conteúdo lista */
.navegacao__conteudo-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30px;
    margin: 0 auto;
    border-top: 1px solid var(--titulo-principal-color);
}

.conteudo__lista {
    display: flex;
    width: 100%;
    margin-right: 40px;
    justify-content: center;
    font-family: var(--navegacao-lista-fonte);
}

.conteudo__redes-sociais {
    margin-right: 50px;
}

.lista__ancora {
    margin-left: 20px;
    color: var(--branco);
    font-size: 15px;
}

.lista__ancora:hover {
    text-decoration: none;
    color: var(--branco);
    cursor: pointer;
}

.ancora__active {
    font-weight: bold;
}

.ancora__setaParaBaixo {
    margin-left: 5px;
}

.menu-bars-container {
    display: flex;
}

.menu-bars, .menu-times {
    color: var(--branco);
    font-size: 30px;
    margin-top: 10px;
    margin-right: 20px;
    display: none;
}

