.rodape {
    border-top: 3px solid var(--titulo-principal-color);
    background: var(--rodape-background-color);
    padding: 20px 0px;
    height: 20rem;
}

.rodape__logo {
    display: flex;
    height: 10rem;
    flex-direction: column;
    justify-content: center;
    margin: 0px auto;
    width: 20%;
}

.rodape__redes {
    margin: 0 auto;
}

.rodape__info-profissional {
    width: 100%;
    height: 5rem;
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
}

.rodape__info-pro-ancora {
    margin-left: 5rem;
}

.rodape__info-pro-paragrafo {
    margin-right: 5rem;
}

.rodape__info-pro-ancora, .rodape__info-pro-paragrafo {
    color: var(--titulo-principal-color);
}

.info__email {
    line-height: 0.3;
}

.rodape__info-dfg {
    height: 5rem;
    border-top: 1px solid var(--titulo-principal-color);
    line-height: 0.3;
    background: var(--cinza);
}

.rodape__info-paragrafo {
    font-weight: bold;
    padding-top: 1rem;
    font-size: 0.9rem;
}

.rodape__info-ancora {
    font-size: 0.7rem;
    text-decoration: none;
}

.rodape__info-ancora, .rodape__info-paragrafo {
    margin-left: 1rem;
    color: var(--titulo-principal-color);
}